@import url(../style/bootstrap.css);
@import url(../style/bootstrap-grid.css);
@import url(../style/bootstrap-reboot.css);

*{
  font-family: "Arial Narrow";
  color: rgba(120, 120, 120, 1);
  font-size: 18px;
}

header{

  &:after{
    margin-top: 5px;
    width: 100%;
    height: 2px;
    display: block;
    content: "";
    background-color: rgba(120, 120, 120, 0.6);
  }
  .logoBlock{
      height: 150px;
    a{
      padding: 15px 0;
      display: block;
      img{
        animation: showLogo 1.2s linear;
        display: block;
        width: 80%;
      }
    }

  }
  nav{
    ul{
      li{
        display: inline;
        margin-left: 20px;
        font-family: Arial;
        font-size: 16px;
        text-transform: uppercase;
        color: grey;
        position: relative;
        a{
          text-decoration: none;
          color: inherit;
          &:hover{
            text-decoration: none;
            color: inherit;
          }
        }
        &:before{
            position: absolute;
          height: 16px;
          width: 1px;
          background-color: grey;
          left: -10px;
          top: 0;
          display: block;
          content: '';
        }
      }
    }
  }
}
.main_content{
  height: 100vh;
  background-color: rgba(120, 120, 120, 0.02);
  padding: 40px 0 30px;
  h1{
    text-align: center;
    font-size: 28px;
    font-weight: bolder;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  .dropdown_block{
    padding: 10px 20px;
    border: rgba(120, 120, 120, 0.9) 1px solid;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    cursor: pointer;

    span{
      font-size: 14px;
      text-transform: uppercase;
      display: block;
      margin-bottom: 10px;
      a{
        text-decoration: none;
        color: inherit;
        box-sizing: border-box;
        &:hover{
          text-decoration: none;
          color: inherit;
      }
      }
    }
    &:hover{
      transform: scale(1.02);
      transition: 0.7s;
    }

  }
  .instructionExpl{
    line-height: 1.5em;
    .boldTextMain{
      font-weight: bolder;
    }
  }
}
.specificImg{
  max-width: 800px;
  margin: 10px auto;
  display: block;
  padding: 7px;
  border: 1px rgba(120, 120, 120, 0.4) solid;
}
.specificForImg{
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  font-style: italic;
  font-weight: lighter;
  color: inherit;
  text-align: center;
}
table{
  width: 100%;
  tr{
    td{
      border: 1px rgba(120, 120, 120, 0.4) solid;
      font-weight: normal;
      padding-left: 10px;
      &:first-of-type{
        width: 25%;
        font-weight: bolder;
      }
    }
  }
}

@keyframes showLogo {
  from{
    width: 0;
  }
  to{
    width: 80%;
  }
}